/* Basic Styles */
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #b4b4b44a;
    height: 3.5em;
    align-items: center;
    justify-content: flex-end;
}

.navbar h1{
    font-size: 25px;
}
.nav-holder{
    height: 100%;
    align-content: center;
}

/* Navigation Bar Button Styles */


.nav-holder button {

}